<a href='/dashboard' class='go-back'>
  &larr; Return to dashboard</a>

<article class='new-page'>
  <section class='new-form-page'>
    <div class='form-heading'>
      <h2>Add New Blog</h2>
    </div>
    <div class='form-div'>
      <form class='new-blog-form'>
        <div class='blog-title-section'>
          <label for='blog-title'>Title</label>
          <input type='text' id='blog-title' name='blog-title' />
        </div>
        <div class='blog-content'>
          <label for='blog-content'>Description</label>
          <textarea
            class='entry-field'
            id='blog-content'
            name='blog-content'
          ></textarea>
        </div>
        <button type='submit' class='btn'>Add Blog-Post</button>
      </form>
    </div>
  </section>
</article>

<script src='/js/addBlog.js'></script>