{{!-- <h1>{{blog.title}}</h1>
<p>{{blog.description}}</p> --}}

<a href="/dashboard" class="go-back"> &larr; Return to dashboard</a>
<br>
<br>

{{> blog-info blog}}
<a href="/edit/{{blog.id}}"> 
    <button>
        Edit Blog
    </button> 
</a>
<br>

{{#if loggedIn}}
<form class="comment-form">
    <input type="hidden" name="blog-id" value="{{blog.id}}">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments blog.commentteches}}

{{#if loggedIn}}
<script src="/js/comments.js"></script>
{{!-- <script src="/js/deleteBlog.js"></script>
<script src="/js/editBlog.js"></script> --}}
{{/if}}