<article class='login-page'>
  <div class='form-heading'>
    <h1>Login</h1>
  </div>
  <div class='form-section'>
    <form class='login-form'>
      <div>
        <label for='user-name-login'>Username</label>
        <input type='text' class='entry-field' id='user-name-login' />
      </div>
      <div>
        <label for='password-login'>Password</label>
        <input type='password' class='entry-field' id='password-login' />
      </div>
      <div>
        <button type='submit' class='login-signup-button'>Log In!</button>
      </div>
    </form>
  </div>

  <a href='./signup' class='sign-in-link'>sign up instead</a>
</article>

<script src='/js/login.js'></script>